<!DOCTYPE html>
    <head>
        <title>Naboris Console</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="A small website for controlling a small robot">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='resources/favicon.png') }}"/>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index-style.css') }}">

    </head>
    <body>
        <h1>Naboris Console</h1>
        <hr>

        <div class="HUD">
            <!-- <canvas id="compass" width="200" height="200"></canvas> -->
            <img src="/api/robot/rightcam">
        </div>

        <div class="buttons">
            <div class="drive_buttons">
                {% for label, command, id, group in commands.get_group("command_button drive") %}
                <button id="{{ id }}" class="{{ group }} {{ command }}" value="{{ command }}">
                    {{ label }}
                </button>
                {% endfor %}
            </div>

            <div class="toggle_buttons">
                {% for label, command, id, group in commands.get_group("command_button toggles") %}
                <button id="{{ id }}" class="{{ group }} {{ command }}" value="{{ command }}">
                    {{ label }}
                </button>
                {% endfor %}
            </div>

            <div class="speak_buttons">
                {% for label, command, id, group in commands.get_group("command_button speak") %}
                <button id="{{ id }}" class="{{ group }} {{ command }}" value="{{ command }}">
                    {{ label }}
                </button>
                {% endfor %}
            </div>
        </div>

    </body>

    <script type=text/javascript src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
